.menu {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  color: white;
  background-color: rgb(41, 41, 41);
  opacity: 0.875;
  z-index: 11;
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
    .nav {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      font-size: 45px;
      gap: 12px;
      a {
        color: white;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}
