

.navButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-decoration: none;
  // transition-duration: 0.4s;
  background-color: #3d87c7;
  cursor: pointer;
}

.prevButton {
  left: 4rem;
}

.nextButton {
  right: 4rem;
}
