.projects {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoTitle {
  font-size: 21px;
  margin-bottom: 2rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}

.videoPlayer {
  position: relative;
  width: 60vw;
  max-width: 800px;
  height: 33.75vw;
  max-height: 450px;
  margin-top: 0;
  border: 2px solid #fff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.navButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-decoration: none;
  // transition-duration: 0.4s;
  background-color: #3d87c7;
  cursor: pointer;
}

.prevButton {
  left: 4rem;
}

.nextButton {
  right: 4rem;
}
