.link {
  position: relative;
  display: flex;
  align-items: center;
  .indicator {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
}
